<h1>{{this.name.common}}</h1>
<div class='all-information'>
  <div class='information'>
    <p>Capital:<span>{{this.capital}}</span></p>
    <p>Population:<span>{{this.population}}</span></p>
    <p>Languages:<span>{{this.languages.ukr}}</span></p>
    <ul class='languages-list'></ul>
  </div>
  <img src='{{this.flags.png}}' alt='{{this.flags.alt}}' />
</div>